In [1]:
# list appearance
lst = list()
# lst = []
print(lst, type(lst))

[] <class 'list'>

In [2]:
lst = [3, 6, 5, 654]
print(lst, type(lst))

[3, 6, 5, 654] <class 'list'>

In [8]:
# list operation 
# 1. item deletion
lst = [1, 3, 4, 10]
del lst[0]
print(lst)

[3, 4, 10]

In [11]:
# item assignment 
a = [12, 54, 6, 5, 6]
a[2] = 2
print(a)

[12, 54, 2, 5, 6]

In [21]:
# list unpacking 
lst = [3, 5, 44, 5, 34]
a, *b, c = lst
print('value of a', a)
print('value of b', b)

value of a 3
value of b [5, 44, 5]

In [24]:
print(list(range(1, 56)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55]

In [25]:
lst1 = [1, 15, 24, 51, 55, 50, 53, 21, 22, 38, 17, 12, 34, 52,\
19, 27, 48, 40, 39, 10, 23, 49, 31, 32, 54, 8, 25, 41, 44, 26,\
7, 4, 2, 33, 30, 36, 13, 28, 20, 16, 9]
lst2 = list(range(1, 56))

set(lst2) - set(lst1)

{3, 5, 6, 11, 14, 18, 29, 35, 37, 42, 43, 45, 46, 47}

In [15]:
# append()
lst = [3, 5, 'hello']
lst.append(100)
lst.append([2, 4, 5])
print(lst)

[3, 5, 'hello', 100, [2, 4, 5]]

In [17]:
# extend()
lst = [3, 5, 'hello']
lst.extend('hello')

print(lst)

[3, 5, 'hello', 'h', 'e', 'l', 'l', 'o']

In [22]:
# insert()
lst = [3, 5, 'hello']
lst.insert(4, 100)
print(lst)

[3, 5, 'hello', 100]

In [34]:
# clear()
lst = [3, 4, 5, 0, 32, 2]
lst.sort(reverse=True)
print(lst)

[32, 5, 4, 3, 2, 0]

In [1]:
# unpack the list 
ls = ['ravi', 'saket', 100, 101]
name1, name2, marks1, marks2 = ls
print('name1', name1)
print('name2', name2)

name1 ravi
name2 saket

In [7]:
lst1 = [31, 13, 24, 28, 48, 12, 55, 41, 49, 40, 20, 4,\
27, 30, 3, 11, 8, 18, 19, 17, 53, 37, 51, 44, 5, 9, 54, 26, 25, 33, 
7, 34, 22, 16, 10, 2, 15, 28, 39, 57]
lst2 = list(range(1, 58))
len(set(lst2) - set(lst1) )

18

In [3]:
k = list(range(1, 58))
print(k)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57]

In [27]:
# list initialization 
st1 = []
st2 = list()
print(st1 == st2)

True

In [33]:
# operations with list
a = [3, 5, 56, 5]
b = ['hello']
out = a + b
print(out)

[3, 5, 56, 5, 'hello']

In [35]:
# 
lst = [3, 5]
out = lst * 0
print(out)

[]

In [44]:

lst1 = [41, 23, 35, 25, 27, 29, 48, 36, 37, 31, 39, 53, 30, 43,\
    44, 50, 26, 28, 47, 38, 49, 33, 46, 52, 34, 45]
lst2 = list(range(23, 54))
for i in lst2:
    if i not in lst1:
        print(i)

24
32
40
42
51

In [4]:
# list formation
marks = [20, 30, 22, 17]
print(marks, type(marks))

[20, 30, 22, 17] <class 'list'>

In [10]:
# list is mutable
ls = [2, 5, 100]
ls[0] = 120  # item assignment 
del ls[0]  # item deletion
print(ls)

[5, 100]

In [13]:
# methods in a list 
ls = [3, 5, 7, 8, 65]
out = ls.index(5)
print(out)

1

In [20]:
# append()
lst = []
lst.append('anubhav')
lst.append(100)
lst.append([10, 323])
print(lst)

['anubhav', 100, [10, 323]]

In [27]:
# extend()
lst = [3, 5, 7, 7]
x = ['hello']
lst.extend(x)
print(lst)

[3, 5, 7, 7, 'hello']

In [36]:
# insert()
lst = [3, 5, 7, 8]
for i in [100, 30]:
    lst.insert(1, i)
print(lst)

[3, 100, 30, 5, 7, 8]

In [44]:
# clear()/pop()
ls = [3, 5, 7]
# ls.clear()
out = ls.pop()
print('deleted', out)
print(ls)

deleted 7
[3, 5]

In [48]:
# remove()

ls = ['chandan', 'mishra', 'saket']
ls.remove('chandan')
print(ls)

['mishra', 'saket']

In [58]:
# copy()
ls = [3, 5, 67, 87]
pf = ls.copy()
pf.append(100)
pf[0] = 1000
print('ls', ls)
print('pf', pf)

ls [3, 5, 67, 87]
pf [1000, 5, 67, 87, 100]

In [64]:
# sort()/reverse()
lst = [3, 5, 63, 8, 0]
lst.sort(reverse=True)
# lst.reverse()
print(lst)

[63, 8, 5, 3, 0]

In [67]:
# sorting the string 
lst = ['ravi', 'zoya','saket', 'amar', 'amarjeet']

lst.sort(key=len)

print(lst)

['ravi', 'zoya', 'amar', 'saket', 'amarjeet']

In [14]:
a = [2, 4, 6, 7]
print(a, id(a))
a[0] = 100  # item assignment
del a[1]
print(a, id(a))
# print(id(b))

[2, 4, 6, 7] 2438876224000
[100, 6, 7] 2438876224000

In [15]:
# item assignment
# item deletion
a = 'hello'
# del a[0]  # error 
print(a)

hello

In [16]:
# list operation 
marks1 = [23, 53, 12, 45, 20]
marks2 = [32, 25]
final_marks = marks1 + marks2
print(final_marks)

[23, 53, 12, 45, 20, 32, 25]

In [18]:
lst = [12, 45] * 0
print(lst)

[]

In [21]:
# how to access the items 
# 1. indexing
# 2. slicing range
ls = [3, 2.5, 'hello']
out = ls[0:1]
print(out, type(out))

[3] <class 'list'>

In [27]:
# methods in a list 
ls = [3, 6, 33, 20]
ls2 = ls.copy()
ls2.clear()
print(ls, id(ls))
print(ls2, id(ls2))

[3, 6, 33, 20] 2438876260480
[] 2438876264192

In [ ]:
a, b = ['HI', 100]

In [1]:
'''
input->  3 4 5 6 7
output-> 10

input-> 1 3 5 7 9
output-> 0

'''
k = input()  # '3 4 5 6 7'
out = k.split()  # ['3', '4', '5', '6', '7']
lst = list(map(int, out))
s = 0
for i in lst:
    if i % 2 == 0:
        s += i
print(s)

10

In [56]:

sum=0
num_lst = list(map(int, input('Enter Value ').split()))
for i in num_lst:
    if i%2==0:
        sum=sum+i
print (sum)

12

In [55]:
lst = [34.5, 45.32, 23]
out = list(map(int, lst))
print(out)

[34, 45, 23]

In [50]:
lst = input('Enter comma separated elements ')
out = lst.split(',')
lst_num = []
for i in out:
    lst_num.append(int(i))
s = sum(lst_num)
print(s)

16